div{
  background-color:#928FD9;
  width:100px;
  height:100px;
  border-radius:50%;
  position:relative;
  top:50px;
  left: 300px;
  animation-name:sofia;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes sofia {
  0%
  {
   background-color:#D9BE3B;
   width:100px;
   height:100px;}
  25%
  {
   background-color:#928FD9;
   width:300px;
   height:600px}
  50%{
   background-color:#82B8D9;
   width:900px;
   height:200px;}
   75%
  {
   background-color:#F294C0;
   width:500px;
   height:250px;}
   100%
  {
   background-color:#D9A273;
   width:100px;
   height:100px;}
}